* {
    padding: 0px;
    margin: 0px;
}

p {
    padding-top: 15px;
}

body {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
}

#setting, #settingAnimation {
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 20px;
}   

#setting label{
    margin: 0px;
}

svg {
    margin: 5px;
    border: thin solid black;
}
